{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
</head>
<body>
    <h1>Loja Água 🇯🇲  </h1>
    <table>
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </thead>
        <tbody>
            <tr>
                <td>Camiseta</td>
                <td>Bem Bonita</td>
                <td>29</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Notebook</td>
                <td>Muito rápido</td>
                <td>1999</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{end}}